<div class="container mt-5 mb-5">
  <h1 class="text-center">About</h1>
  <p>
    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nihil excepturi
    numquam nobis laborum! Vel iure ipsam debitis iste similique. Repellendus
    iure autem neque iusto accusamus, dolorum ipsum nobis dicta illo. Impedit
    reiciendis asperiores perferendis deserunt minima nisi at molestiae eum
    soluta! Molestias provident id consectetur autem nulla officia temporibus
    debitis repudiandae eum libero tenetur, exercitationem sint deserunt saepe,
    necessitatibus laborum. Non facilis, eligendi inventore doloribus in ratione
    distinctio alias dolorem similique iusto! Fugiat perferendis magni aliquam
    consequatur voluptatibus sit. Quia fugiat ad beatae reiciendis natus tempore
    aperiam voluptatibus facilis quisquam!
  </p>
</div>
